body, html {
    height: 100%;
    width: 100%;
}
#websockets_not_supported {
    top: 0px;
    left: 0px;
    z-index:100000;
    position:fixed;
    display: none;
    color:#ffffff;
    background-color:#000000;
    width:100%;
    height:100%;
}
#disconnected-ws {
    z-index:1;
    position:absolute;
    display: block;
    color:#ffffff;
    background-color:#ff0000;
}
.new-window {
    top: 20%;
    left: 25%;
    z-index: 600;
    position: fixed;
    width: 50%;
    height: 50%;
    display: none;
    background-color:#FFFFFF;
}
#blackout {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 500;
    background-color: #000000;
    opacity: 0.5;
}
.close-window-btn {
    cursor: pointer;
    color: #000000;
}
.DatePicker {
    width: 80px;
}
.tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1
}
.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D
}
#loading-blackout {
    display: none;
    position: fixed;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    opacity: 0.9;
}    
#loading-text {
    display: none;
    z-index: 400;
    position: fixed;
    top: 45%;
    left: 50%;
    color: #000000;
}
