<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
                <div class="header">
            	    <h1>&Uuml;ber die Entwikler</h1>
           	    <h2>&Uuml;ber die Entwikler und deren Leistungen</h2>
                 </div>
		
                <div class="content">
                    <h2 class="content-subhead">Jan K.</h2>
                    	<ul type="circle">
				<li><i>Elektrotechnischer Aufbau:</i>
					<ul type="square">
					<li>Zeichnen eines Schaltplanes
					<img class="pure-img" src="/static/img/Wind_LMS.png">
					<li>Auflöten des MCP3008 (A/D-Wandler) auf einer Lochrasterleiterplatte(Alpha-Aufbau), weitere Verbesserungen sind geplant (Design einer Leiterplatte die geätzt wird)
					</ul>
				<li><i>Software:</i>
					<ul type="square">
					<li>Initiale Einrichtung des Raspberry-PI(SSH, iptables, fail2ban, etc.)
					<li>Mitprogrammierung an dem Python-Script
					</ul>
			</ul>
                    <h2 class="content-subhead">Manuel W.</h2>
                    
                    <h2 class="content-subhead">Jurek W.</h2>
	        </div>
            </div>
        </div>
    </body>
</html>
	
