<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
                <div class="header">
            	    <h1>&Uuml;ber die Entwickler</h>
                 </div>
		<p>
	        Jurek Weber
	        Jan Kropidlowski
	        Manuel Wilke
	        Dr. Boris Reusch
	        </p>
                <div class="content">
                    
                </div>
            </div>
        </div>
    </body>
</html>
	
