<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
                <div class="header">
            	    <h1>&Uuml;ber die Entwickler</h1>
           	    <h2>&Uuml;ber die Entwickler und deren Leistungen</h2>
                 </div>
		
                <div class="content">
                    <h2 class="content-subhead">Jan K.</h2>
                    	<ul type="circle">
				<li><i>Elektrotechnischer Aufbau:</i>
					<ul type="square">
					<li>Zeichnen eines Schaltplanes</li>
					<li>Auflöten des MCP3008 (A/D-Wandler) auf einer Lochrasterleiterplatte (Alpha-Aufbau), weitere Verbesserungen sind geplant (Design einer Leiterplatte die geätzt wird)
					</ul>
				<li><i>Software:</i>
					<ul type="square">
					<li>Initiale Einrichtung des Raspberry-PI(SSH, iptables, fail2ban, etc.)
					<li>Einrichtung der erweiterten OpenVPN-Konfiguration
					<li>Besprechung der Netzwerkstruktur sowie deren Möglichkeiten mit dem 2. Systemadministrator
					<li>Mitprogrammierung an dem Python-Script
					</ul>
			</ul>
                    <h2 class="content-subhead">Manuel W.</h2>
                 <ul type="circle">
                      <li>Leitung des Projekts und Koordination</li>
                      <li>Hilfestellung</li>
                      <li>kleinere Lötarbeiten</li>
                      <li>Dokumentation</li>
                 </ul>
                    <h2 class="content-subhead">Jurek W.</h2>
                    <ul type="circle">
                        <li>Gr&uuml;der des Projektes</li>
                        <li>Entwicklung der Website und der anderen Komponenten (Datenserver, Datenbank)</li>
                        <li>Hilfestellung bei hardware und software installation</li> 
                </ul>
                 <h2 class="content-subhead">Herr Reusch</h2>
                    <ul type="circle">
                        <li>Betreung des Projekts</li>
                        <li>Dokumentation</li>
                        <li>Finanzen</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
	
