<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
            <div class="header">
            	<h1>Dokumentation</h1>
           	<h2>Eine Dokumentation der Arbeiten und der Grundidee hinter diesem Projekt</h2>
            </div>
		
        <div class="content">
            <h2 class="content-subhead">System</h2>
            <p>
             	Unser System besteht grunds&auml;tzlich aus zwei Komponenten:
                <ol>
                    <li>dem <b>Webserver</b> (ein einfacher Webserver der die Daten speichert und an alle Browser verteilt)</li>
                    <li>dem <b>Datenserver</b> (ein Raspberry PI der die Windgeschwindigkeit misst)</li>
                </ol>
            </p>

            <h2 class="content-subhead">Der Raspberry PI und die Messger&auml;te</h2>
            <p>
                Wir haben ein Anemometer(Windmessger&auml;t) auf dem dach der Liese-Meitner-Schule zu stehen. Der Raspberry PI wandelt die analogen Signale um in digitale, berchnet sie, und sendet sie an den Webserver.
            </p>
            <p>
                <img class="pure-img" src="/static/img/Wind_LMS.png" alt="Schaltplan der Verkabelung"><br>
                Schaltplan(Jan K.)
	    </p>
	    <h2 class="content-subhead">Der Webserver</h2>
	    <p>
	        Der Webserver ist ein simpler Tornado (Python) Server der seine Daten &uuml;ber Websockets an die Clients verteilt.
	    </p>
	    <h2 class="content-subhead">Danksagungen</h2>
	    <p>
	  	TODOTODOTODO
	    </p>
	    </div> <!-- div main -->
        </div>
    </body>
</html>
	
