<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
            <div class="header">
            	<h1>Dokumentation</h1>
           	<h2>Eine Dokumentation der Arbeiten und der Grundidee hinter diesem Projekt</h2>
            </div>
		
        <div class="content">
            <h2 class="content-subhead">Der Aufbau</h2>
            <p>
                <a href="/static/img/wind_LMS.png">
                    <img class="pure-img" src="/static/img/wind_LMS.png" alt="Schaltplan der Verkabelung">
                </a>
                Schaltplan des MCP3008 und der zugehörigen Komponente
                <a href="/static/img/project/pi.png">
                    <img class="pure-img" src="/static/img/project/pi_scaled.png" alt="Hardware">
                </a>
                Der PI mit dem MCP3008 und Verkabelung
	    </p>
	    <p>
		<a href="/static/img/project.svg">
                   <img class="pure-img" src="/static/img/project.svg" alt="Struktur des Projekt">
		</a>
		Allgemeine Struktur des Projekts
	    </p>
            <h2 class="content-subhead">Andere Bilder:</h2>
            <p>
                <a href="/static/img/project/all.png">
                    <img src="/static/img/project/all_scaled.png" alt="Pi mit altem PC" width="100%">
                </a>
                Der Pi am seinem Standort und der alte PC, welcher durch den PI ersetzt wird
                <a href="/static/img/project/ammeter.png">
                    <img src="/static/img/project/ammeter_scaled.png" alt='"Spannungsmessgerät"' width="100%">
                </a>
                Das berührungslose Strommessgerät
                <a href="/static/img/project/pi_installed.png">
                    <img src="/static/img/project/pi_installed_scaled.png" alt="Der PI an seinem festen Platz" width="100%">
                </a>
                Der PI an seinem festen Platz
            </p>
	    </div> <!-- div main -->
        </div>
    </body>
</html>
	
