<!doctype html>
<html lang="de">

<head>
    {% module Template("headers.html") %}
    <script src="/static/js/index.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css">
</head>

<body>
    <div id="layout">
        <!-- Menu -->
        {% module Template("menu.html") %}
        <!-- Main -->
        <div id="main">
            <!-- header -->
            <div class="header">
                <h1>Winddaten frisch gezapft auf der Lise-Meiter-Schule</h1>
            </div>
            <div class="content">
                <table border="0" width="100%">
                    <colgroup width="170" />
                    <tr>
                        <td valign="top">
                            <div id="realtime_data">
                                <table border="0" style="line-height: 1.3em;">
                                    <colgroup width="70" />
                                    <colgroup width="100" />
                                    <tr>
                                        <td>Wind:</td>
                                        <td><span id="rtd-wind">...</span> m/s</td>
                                    </tr>
                                    <tr>
                                        <td>Ubatt:</td>
                                        <td><span id="rtd-Ubatt">...</span>V</td>
                                    </tr>
                                    <tr>
                                        <td>Ibatt:</td>
                                        <td><span id="rtd-Ibatt">...</span>A</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top">
                            Zeitraum vom <input type="text" id="day1" class="DatePicker"> bis <input type="text" id="day2" class="DatePicker"> <button onClick="sendChartRequest();">Diagramm generieren</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <span id="chartContainer"></span>
                        </td>
                    <tr>
                </table>
            </div>
        </div>
        <!-- div main -->
    </div>
</body>

</html>
