<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Wind Statistiken der LMS">
        
		<!-- ICON -->
        <link rel="shortcut icon" type="image/png" href="/static/icon.png">
        <title>Windstats der LMS</title>
		
		<!-- CSS -->
        <link rel="stylesheet" href="/static/css/pure-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="static/css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/side-menu.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="/static/css/main.css">
		
	<!-- Javascript -->
	<script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/chart.min.js"></script>
        <script src="/static/js/main.js"></script>
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
                <!-- Panels -->
                <div id="blackout"></div>
                <div id="about_panal" class="new-window">
                    <span class="close-window-btn" onclick="about_window(false)"><img src="/static/img/x.svg" type="image/svg+xml" weight="16" height="16"></span>
                    <br>
                     Website wurde von Jan K., Manuel W., und Jurek W.
                </div>
		<div id="history_panal" class="new-window">
                    <p><span class="close-window-btn" onclick="history_window(false)"><img src="/static/img/x.svg" type="image/svg+xml" weight="16" height="16"></span>
                    Eine Dokumentation der Arbeiten und der Grundidee hinter diesem Projekt</p>
                   <h2 class="content-subhead">Wie es begann</h2>
                   <p>
             	       TODOTODOTODO
                   </p>
                   <h2 class="content-subhead">Die Arbeiten</h2>
                   <p>
		       TODOTODOTODO
	           </p>
                </div>
                <!-- Errors -->
                <div id="websockets_not_supported">Websockets are not supported!
                    <br>Try with another browser like Firefox</div>
                <span id="disconnected-ws">No Connection to the server</span>
                <!-- header -->
                <div class="header">
                    <h1>Winddaten frisch gezapft auf der Lise-Meiter-Schule</h1>
                </div>
                <center>
		<h2>Aktuelle Winddaten in m/s: <span id="wind-power"><span title="hier steht nur ...? warscheinlich werden gerade keine Daten an den Server gesendet!">...</span></span>
                <button onclick="change_receive_winddata()" id="change_receive_winddata-btn" style="font-size:12px;display:none;">
                    <span id="not_receive_winddata">Stop!</span>
                    <span style="display:none;" id="receive_winddata">Start</span>
                </button></h2>
                </center>
		<div class="content">
                    <h2 class="content-subhead">Chart der Winddaten</h2>
                    <canvas id="Chart" width=600" height="400"></canvas>
                </div>
            </div> <!-- div main -->
        </div>
        <script src="/static/js/ui.js"></script>
    </body>
</html>
	
