<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
    <span></span>
</a>
<div id="menu">
    <div class="pure-menu">
        <span class="pure-menu-heading" style="text-transform: none;">Wind: <span id="wind-power"><span title="hier steht nur ...? warscheinlich werden gerade keine Daten an den Server gesendet!">...</span></span> m/s</span>
	<!-- <button onclick="change_receive_winddata()" id="change_receive_winddata-btn" style="font-size:12px;display:none;">
                    <span id="not_receive_winddata">Stop!</span>
                    <span style="display:none;" id="receive_winddata">Start</span>
                </button>-->
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/doc" class="pure-menu-link">Dokumentation</a></li>
			<li class="pure-menu-item"><a href="/webcam" class="pure-menu-link">Webcam</a></li>
            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">&Uuml;ber uns</a></li>
            <li class="pure-menu-item"><a href="http://www.schuelerforschungszentrum-berlin.de/" class="pure-menu-link">SFZ</a></li>
            <li class="pure-menu-item"><a href="https://github.com/dscso/wind/" class="pure-menu-link">Github</a></li>
        </ul>
    </div>
</div>
