<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
            <div class="header">
            	<h1>Dokumentation</h1>
           	<h2>Eine Dokumentation der Arbeiten und der Grundidee hinter diesem Projekt</h2>
            </div>
		
        <div class="content">
            <h2 class="content-subhead">Wie es begann</h2>
            <p>
             	TODOTODOTODO
            </p>

            <h2 class="content-subhead">Die Arbeiten</h2>
            <p>
            	TODOTODOTODO
	    </p>
	    <h2 class="content-subhead">Das Resultat</h2>
	    <p>
		TODOTODOTODO
	    </p>
	    <h2 class="content-subhead">Danksagungen</h2>
	    <p>
	  	TODOTODOTODO
	    </p>
	    </div> <!-- div main -->
        </div>
    </body>
</html>
	
