<!doctype html>
<html lang="de">
    <head>
        {% module Template("headers.html") %}
    </head>
    <body>
        <div id="layout">
            <!-- Menu -->
            {% module Template("menu.html") %}
            <!-- Main -->
            <div id="main">
			<h1>Webcam</h1>
           	    <h2>auf dem Dach der Lise-Meitner-Schule</h2>
			
				<div class="content">
					<p>
						
						<img class="pure-img-responsive" src="http://schule.osz-lise-meitner.eu/record/current.jpg?rnd=0.9281055282335728" alt="City">
					
					</p>

            

				</div>
						
			</div>
        </div>
    </body>
</html>
	